<div class="search-container">
  <form action="/artists" method="get">
    <input type="text" name="artist" placeholder="Search for an Artist!" id="search-box">
    <button type="submit" id="search-btn">Search for an Artist</button>
  </form>