body {
  margin: 0;
}

header {
  background: url("../images/background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container {
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 50%;
}

#search-box {
  height: 30px;
  width: 30vw;
  border-radius: 5px;
  border-style: none;
}

input {
  text-indent: 10px;
}

#search-btn {
  color: white;
  background: #ff5e6b;
  padding: 10px 20px;
  border: #ff5e6b 1px solid;
  margin-top: 10px;
}

#search-btn:hover {
  background: #ffffff;
  color: #ff5e6b;
  border: #ff5e6b 1px solid;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.card {
  margin: 20px;
}

.card-body {
  background: #4e4e4e;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.btn-primary {
  background: #ff5e6b;
  border: 1px #ff5e6b solid;
  border-radius: 4px;
  padding: 10px;
}

.albums-header {
  margin: 50px auto;
  text-align: center;
}

.general-container {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}
.tracks-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.track {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background: #f6f6f6;
  height: 70px;
  margin: 5px 0;
  padding: 5px;
}
